::view-transition-old(artwork-transition) {
  animation: fade-out 1s;
  z-index: 1;
}

::view-transition-new(artwork-transition) {
  animation: fade-in 1s;
  z-index: 2;
}

nav#sidebar {
  min-width: 200px;
  height: calc(100vh - 54px);
  background-color: #eaeaea;
  border-right: 1px #ddd solid;
  overflow: hidden;

  form#sidebarTabs {
    background-color: #cfd0d3;
    display: flex;
    margin: 15px 10px;
    border-radius: 5px;
    font-size: 13px;

    label {
      display: inline-block;
      padding: 5px;
      flex-grow: 1;
      text-align: center;
      position: relative;
    }

    label::after {
      content: "";
      position: absolute;
      right: 0;
      top: 18%;
      height: 64%;
      width: 0;
      border-right: 1px solid #ada9a7;
    }

    label.selected {
      background-color: #9f9b99;
      color: #fff;
      border-radius: 5px;
    }

    label.selected::after {
      border: 0;
    }

    label:last-of-type::after,
    label:has(+ label.selected)::after {
      border: 0;
    }

    input {
      display: none;
    }
  }

  hr {
    border: 0;
    border-top: 1px #cfd0d3 solid;
    margin: 0 10px;
  }

  p.noneInQueue {
    font-size: 80%;
    text-align: center;
    color: #6b6867;
  }

  ul:first-of-type {
    margin: 15px 0 0 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    button {
      background: none;
      border: none;
      display: block;
      width: calc(100% - 30px);
      padding: 5px 15px;
      width: 100%;
      text-align: left;
    }

    button.selected {
      background-color: #cfd0d3;
      border-radius: 5px;
    }

    button#audioLibraryPlaylist, button.playlistButton {
      display: flex;

      img {
        transition: transform 180ms;
      }

      span {
        margin-left: 5px;
        transition: transform 180ms;
      }
    }

    .draggingAudioFilesOverPlaylist button {
      background-color: var(--accent-color);
      color: var(--accent-color-contrast-color);
      border-radius: 5px;
    }
  }

  ol.queue {
    list-style: none;
    margin: 0;
    padding: 0;

    p {
      margin: 0;
    }

    div.metadata {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px 0;
    }

    p.listLabel {
      font-size: 80%;
    }

    form.clearButton {
      width: unset;
      container-type: unset;
      font-size: 80%;

      button {
        padding: 5px 10px;
        line-height: 10px;
      }
    }

    div.info {
      display: flex;
      // flex: 1 1 auto; // grows to fill available space
      flex: 1 1 0;
      min-width: 0;

      div.performer {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;

        p.fileTitle {
          margin: 0 10px;
          font-size: 80%;
          opacity: 0.8;
        }

        p.artistInfo {
          width: 100%;
          margin: 4px 0 0 10px;
          font-size: 80%;
          opacity: 0.5;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }

    div.artwork {
      background-color: #000;
      width: 40px;
      height: 40px;
      flex: 0 0 40px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    div.durationContainer {
      flex: 0 0 60px;
      display: flex;
      align-items: center;

      p.duration {
        width: 100%;
        text-align: right;
        font-size: 90%;
        opacity: 0.5;
      }
    }

    li:nth-child(1), li:nth-child(2) {
      hr {
        margin: 0;
      }
    }

    hr {
      margin: 0 0 0 50px;
    }
  }

  section#playlists, section#next, section#history {
    padding: 0 10px;
    position: relative;
    min-width: 150px;
    width: calc(100% - 20px);
    height: 1px;
    overflow-y: auto;
    scrollbar-color: #b6b6b6 #eaeaea;
  }

  div#artwork {
    width: 200px;
    min-width: 200px;
    background-color: #000;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  div#artwork.big {
    width: 100%;
    height: 100%;
    z-index: 9;
    object-fit: contain; // ensures the whole image is visible and not stretched
    object-position: unset;
  }
}
